@model List<MoviesHome.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div>
        <a href="/admin/user/add" class="add">Add User</a>

        <table cellspacing="0" cellpadding="4">
            <tr>
                <th>Username</th>
                <th>IsActive</th>
                @*<th>&nbsp;</th>*@
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>

            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@(user.IsActive ? "Yes" : "No")</td>
                    @*<td>
                        <a href='@Url.Action("Edit", "User", new { id = user.Id })'>
                            <img src="~/Content/images/icons/quick edit.png" />
                        </a>
                    </td>*@
                    <td>
                        <a href='@Url.Action("Add", "User", new { id = user.Id })'>
                            <img src="~/Content/images/icons/edit.png" />
                        </a>
                    </td>
                    <td>
                        @if (Model.Count > 1)
                        {
                            <a href='@Url.Action("Delete", "User", new { id = user.Id })' onclick="return confirm('Are you sure you want to delete this movie ?')">
                                <img src="~/Content/images/icons/delete.png" />
                            </a>
                        }
                    </td>
                </tr>
            }

            <tr>
                <td colspan="6">
                    @{
                        int pageId = Request.QueryString["pageId"] != null ? Convert.ToInt32(Request.QueryString["pageId"]) : 1;

                        for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (i == pageId)
                            {
                                <span>@i</span>
                            }
                            else
                            {
                                @Html.ActionLink(
                                linkText: i.ToString(),
                                actionName: "Index",
                                controllerName: "User",
                                routeValues: new
                                {
                                    pageId = i.ToString()
                                },
                                htmlAttributes: null
                            );
                            }
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>